page-home {
    box-sizing: border-box;
    .progressBar{
        width: 96%;
        margin: 10px 2%;
        text-align: center;
        background-color: #b1afaf8c;
        color: white;
        border-radius: 20px;
        position: relative;
    }
    .innerProgress{
        min-width: 1%;
        white-space: nowrap;
        overflow: hidden;
        padding: 1.5px;
        border-radius: 15px;
        background-color: crimson;
    }
    #player{
        .songInfo{
            .songTitle{
                text-align: center;
                font-size: 120%;
                padding: 5px 5px 10px 5px;
                .title{
                    font-weight: bold;
                }
                .artistAlbum{
                    font-size: 80%;
                    color:crimson;
                }
            }
            img{
             /*border: 1px solid black;
             padding: 4px;*/
             width: 337px;
             height: 337px;
            }
        }
        .controls{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            font-size: 150%;
            ion-icon{
                padding: 5px;
            }
            .play-pause{
                font-size: 200%;
                margin: 0px 20px;
            }
        }
    }
    #playlist{
        .list{
            .element{
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                line-height: 40px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                .cover {
                  width: 40px;
                  height: 40px;
                  margin-right: 6px;
                }

                div {
                  padding: 6px 0;
                }
            }
            
        }
    }
    .fancyTitle{
        text-align: center;
        font-weight: bold;
        font-size: 130%;
        padding: 5px 0;
    }
}
