<ion-content padding>
  <div id="player">
    <div class="songInfo">
      <div class="thum" *ngFor="let obj of playlist; let i = index">
        <img *ngIf="i==0" src="{{config.service_location+obj.cover}}" alt="">
      </div>
      <!-- <img src="assets/covers/Knights_of_Cydonia_2.jpg" alt=""> -->
      <div class="songTitle">
        <div class="algo" *ngFor="let obj of playlist; let i = index" >
          <div class="title" *ngIf="i==0" >{{obj.title}}</div>
          <div class="artistAlbum" *ngIf="i==0" > {{obj.artist}}</div>
        </div>
        <!-- <img src="assets/covers/Knights_of_Cydonia_2.jpg" alt=""> -->
      </div>
    </div>
    <div class="audiosito" *ngFor="let obj of playlist; let i = index">

      <audio #tagAudio id="audio" *ngIf="i==0"  src="{{config.service_location+obj.src}}" preload (timeupdate)="progress(tagAudio)"></audio>
    </div>
    <!-- <audio src="assets/audio/Muse-Knights of Cydonia.mp3" preload></audio> -->
      <div class="controls">
        <ion-icon name="skip-backward" (click)="backward($event)"></ion-icon>
        <ion-icon [name]="playing ? 'pause' :'play'" class="play-pause" (click)="playpause($event)"></ion-icon>
        <ion-icon name="skip-forward" (click)="forward($event)"></ion-icon>
      </div>
      <div class="progressBar">
        <div class="innerProgress" [style.width]="currentProgress + '%'"></div>
      </div>
    <!--div [innerHTML]="player.domElement"></div-->
    <div id="playlist">
      <span class="fancyTitle">Cola de reproducción</span>
      <div class="list" *ngFor="let obj of playlist">
        <div class="element" (click)="playSong(obj,obj.idSong,obj.title,obj.artist)">
          <div class="cover">
            <img src="{{config.service_location+obj.cover}}" alt="">
          </div>
          <div>{{obj.title}} - {{obj.artist}}</div>
        </div>
        </div>
      </div>
  </div>
</ion-content>
